.app__header {
  background: url("../../assets/159589-machu-picchu-peru-1920x1080-wallpaper.png");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  position: relative;
  box-shadow: black inset 1px -20px 70px 1px;

  .app__header-container {
    display: flex;
    justify-content: space-between;

    img {
      width: calc(12rem + 3vw);
      height: calc(4rem + 1.8vw);
      margin: calc(1rem + 1vw) calc(.5rem + 3vw);
      object-fit: cover;
    }
  }

  .app__container-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 8rem;
    margin-right: calc(1rem + 3vw);
  }

  .phone {
    padding: 0.5rem;
    font-size: 0.5rem;
    border-radius: 0.8rem;
    background-color: white;
    border: 0.05rem solid gray;
    margin: 0.3rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
      color: var(--primary-color);
      margin: 0 0.3rem 0 0;
    }
  }
  .versions {
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    font-size: 0.5rem;
    border-radius: 0.8rem;
    background-color: white;
    border: 0.05rem solid gray;
    margin: 0.3rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
    background-image: url("../../assets/arrow.svg"); /* Add custom arrow */
    background-repeat: no-repeat;
  }
  .app__header-greetins {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 0.6rem;
    margin: calc(0.6rem + 3vw) calc(0.6rem + 4vw);
    p {
      margin: 0.5rem 0.5rem 1rem 0rem;
      font-weight: 300;
      font-size: var(--font-primary);
    }
    span {
      font-size: var(--font-primary);
    }
  }
  .app__header-linkwhyus {
    margin: 1rem 0rem;
    display: flex;
    align-items: center;
    a {
      margin-right: 0.5rem;
      color: white;
      cursor: pointer;
      font-size: var(--font-primary);
    }
  }
  .app__header-awards {
    border: 0.1rem solid white;
    display: flex;
    width: fit-content;
    height: fit-content;

    .awards {
      border-right: 0.1rem solid white;
      text-align: center;
      padding: 0.15rem 0.4rem;
      align-items: center;
      span {
        color: green;
        font-weight: bold;
      }
    }
    .trustpilot {
      text-align: center;
      padding: 0.4rem;
      display: flex;
      font-size: calc(10px + 0.2vw);
      align-items: center;
    }
  }
  .app__header-advisor-info {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 9rem;
    height: 4rem;
    border: 0.15rem solid #dbdbdb82;
    margin: 0.6rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .app__header-advisor {
      color: white;
      font-size: 0.6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      .phoneAdvisor {
        display: flex;
        .icon {
          color: var(--primary-color);
          margin: 0 0.3rem 0 0;
        }
      }
      .buttonReadme {
        background-color: var(--primary-color);
        color: white;
        padding: 2px;
        text-decoration: none;
        padding: 5px 6px;
        text-decoration: none;
        width: max-content;
        border-radius: 5px;
      }
    }

    img {
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
    }
  }
}
